{
    "setup": {
      "main_dl_path": "~/WhitePapers",
      "vendor_list": ["bitdefender", "symantec", "mcafee", "trend_micro", "avast", "eset"],
      "doc_types": [".pdf"],
      "vendor_urls": {
        "bitdefender": "https://www.bitdefender.com/business/whitepapers.html",
        "symantec": "https://www.symantec.com/security-center/white-papers",
        "mcafee": "https://www.mcafee.com/uk/apps/view-all/publications/1455465757268.ajax?pg={}",
        "trend_micro": "https://www.trendmicro.com/aws/category/white-paper",
        "avast": "https://www.avast.com/business-resources?type=whitepaper",
        "eset": "https://www.eset.com/us/business/resources/white-papers-list"
      },
      "wp_links_file": "wp_links.json",
      "new_links_file": "new_links.json",
      "undown_links_file": "undown_links.json"
    },
  "email-groups": {
    "app_admin": "sean.e.mitchell@leidos.com",
    "recipients": []
  },
  "errors": {

  }
}